apiVersion: v1
kind: Service
metadata:
  name: {{ include "immich.fullname" . }}-server
  labels:
    {{- include "immich.serverLabels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "immich.serverSelectorLabels" . | nindent 4 }}
