# The values below are shared between server & machine-learning components.
# When you set these, both types of pods (and other resources) are affected.
# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

priorityClassName: ""

# End of global section. The next two sections configure the server and
# machine-learning components separately. After that are global resources
# again.

# Server is the main Immich component that serves the API, Web UI and runs
# jobs. See https://docs.immich.app/administration/jobs-workers
server:
  # Deployment replicaCount for server containers
  replicaCount: 1
  # deploymentStrategy for server containers. Either RollingUpdate or
  # Recreate. See https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy
  # for details.
  deploymentStrategy: RollingUpdate
  # This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
  image:
    repository: ghcr.io/immich-app/immich-server
    # This sets the pull policy for images.
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  # Set environment variables for the server container. See available variables
  # at https://docs.immich.app/install/environment-variables
  # If you set a value to an empty string it will be omitted. This can be
  # useful to skipping default values such as the password to provide
  # externally, e.g. via extraEnvFrom
  env:
    DB_USERNAME: postgres
    DB_PASSWORD: changeme
    DB_DATABASE_NAME: immich
    # If using an external database you can provide the hostname here. When using
    # the embedded database (postgres.enabled = true), then leave this out since
    # it is auto-generated.
    # DB_HOSTNAME: mydb.mynamespace.svc.cluster.local

  # Provide extra sources for environment variables. These can be created
  # externally or using extraObjects below.
  # See https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/pod-v1/#environment-variables
  extraEnvFrom: []

  resources: {}
    # Resource requirements vary with the size of each deployment. For example,
    # a new deployment usually uses around 400Mi of memory, but with around
    # 20,000 photos it uses around 1Gi.
    # The values below are defaults for small installations, but tweak them to
    # your own needs.
    # See https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
    # for documentation on how to set these values
    # limits:
    #   cpu: 400m
    #   memory: 800Mi
    # requests:
    #   cpu: 200m
    #   memory: 400Mi

  # Additional volumes on the output Deployment definition.
  volumes: []
  # - name: foo
  #   secret:
  #     secretName: mysecret
  #     optional: false

  # Additional volumeMounts on the output Deployment definition.
  volumeMounts: []
  # - name: foo
  #   mountPath: "/etc/foo"
  #   readOnly: true

  nodeSelector: {}

  tolerations: []

  affinity: {}

  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    # This is just the starting size for the main data store for your photos &
    # videos. Increase it as you upload more data.
    size: 10Gi
    storageClassName: ""
    existingClaim: ""
    # If you already have a volume and want this PVC to use it (such as when
    # manually managing PVs or restoring one from a backup), you can provide
    # the name of an existing volume here. In this case, instead of creating a
    # new volume, the PVC will attach to the existing one.
    volumeName: ""

  # Any valid configuration for immich-server. For valid values see:
  # https://docs.immich.app/install/config-file
  # This is template-enabled so you can use Helm template functions. If you set
  # this to an empty value (configuration: null) Immich will allow you to
  # configure it in the UI. Make sure to provide a URL for the machine-learning
  # service.
  configuration:
    machineLearning:
      urls:
        - 'http://{{ include "immich.fullname" . }}-machine-learning:3003'

# Machine Learning containers handle things like facial recognition.
# See https://docs.immich.app/developer/architecture#machine-learning
machineLearning:
  # Deployment replicaCount for machine-learning containers
  replicaCount: 1
  # deploymentStrategy for machine-learning containers. Either RollingUpdate or
  # Recreate. See https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy
  # for details.
  deploymentStrategy: RollingUpdate
  # This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
  image:
    repository: ghcr.io/immich-app/immich-machine-learning
    # This sets the pull policy for images.
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

  resources: {}
    # Resource requirements vary with the size of each deployment. For example,
    # a new deployment usually uses around 100Mi of memory, but with around
    # 20,000 photos it uses around 300Mi.
    # The values below are defaults for small installations, but tweak them to
    # your own needs.
    # See https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
    # for documentation on how to set these values
    # limits:
    #   cpu: 400m
    #   memory: 200Mi
    # requests:
    #   cpu: 200m
    #   memory: 100Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

  # Create a PVC for the machine-learning cache volume so it doesn't have to
  # re-download the model cache each time it starts up. The default is to use
  # an emptyDir which is a temporary directory that gets cleared every time the
  # pod is re-created.
  persistence:
    enabled: false
    accessModes:
      - ReadWriteOnce
    # This size is just a guide, if you find you need more, increase this
    # value.
    size: 2Gi
    storageClassName: ""
    existingClaim: ""

postgres:
  enabled: true
  image:
    repository: ghcr.io/immich-app/postgres
    # This sets the pull policy for images.
    pullPolicy: IfNotPresent
    tag: 14-vectorchord0.4.3-pgvectors0.2.0
  persistence:
    accessModes:
      - ReadWriteOnce
    size: 500Mi
    storageClassName: ""

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 80

# -- Expose the service via gateway-api HTTPRoute
# Requires Gateway API resources and suitable controller installed within the cluster
# (see: https://gateway-api.sigs.k8s.io/guides/)
httpRoute:
  # HTTPRoute enabled.
  enabled: false
  # HTTPRoute annotations.
  annotations: {}
  # Which Gateways this Route is attached to.
  parentRefs:
    - name: gateway
      sectionName: http
      # namespace: default
  # Hostnames matching HTTP header.
  hostnames:
    - chart-example.local
  # List of rules and filters applied.
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
  #   filters:
  #   - type: RequestHeaderModifier
  #     requestHeaderModifier:
  #       set:
  #       - name: My-Overwrite-Header
  #         value: this-is-the-only-value
  #       remove:
  #       - User-Agent
  # - matches:
  #   - path:
  #       type: PathPrefix
  #       value: /echo
  #     headers:
  #     - name: version
  #       value: v2

valkey: {}

extraObjects: []
